**/*.o
**/*.d
**/kernel.asm
**/kernel.dis
**/kernel.elf
debug.sh
ls2k_debug.sh
ls2k_release.sh
build/**
.vscode/
.vscode/*
*.bin
*.dis
copy_kernel_to_ext4.sh
oscomp/*
build/*
os.out
sdcard-rv.img
sdcard-la.img
user/disasm_initcode.asm
user/initcode-rv
output.txt
out.txt
disasm_busybox.asm
busybox.asm
busyboxhead.asm
auxval_man.txt
disasm_musl_busybox.asm
busybox_musl_unstripped.asm