**/*.o
**/*.d
**/kernel.asm
**/kernel.dis
**/kernel.elf
debug.sh
ls2k_debug.sh
ls2k_release.sh
build/**
.vscode/
.vscode/*
*.bin
*.dis
copy_kernel_to_ext4.sh
oscomp/*
build/*
os.out
sdcard-rv.img
sdcard-la.img
user/disasm_initcode.asm
user/initcode-rv
output.txt
out.txt
disasm_busybox.asm
busybox.asm
busyboxhead.asm
auxval_man.txt
disasm_musl_busybox.asm
busybox_musl_unstripped.asm
temp.asm
disasm_initcode.asm
user/initcode-la
output-la.txt
output-rv.txt
disasm_busybox_glibc.asm
disasm_la_busybox_musl.asm
sdcard-la.img.bak
disasm_rv_musl_libcso.asm
outputverbose.txt
